<!-- All JavaScript modules are bundled into bundle.js via webpack -->
<script>
// Diagnostic script to help debug path issues
console.log('Base URL: {{ site.baseurl }}');
console.log('Site URL: {{ site.url }}');
console.log('Loading bundle from: {{ site.baseurl }}/assets/js/bundle.js');
</script>

<!-- Direct script include for bundle.js -->
<script src="{{ site.baseurl }}/assets/js/bundle.js"></script>

{% if site.contact == "disqus" %}
<!-- Disqus Stuff -->
{% include js_disqus.html %}
{% endif %}
